.thumb {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: flex;
    transform: translateX(-50%);
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5%;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.25)
}

.thumb li img {
    width: 50px;
    height: 50px;
}