<header *ngIf="!headerService.hideMenu">
    <div class="status">
        <a href="#" class="logo">Logo</a>
    </div>
    <ul class="navigation">
        <li><a href="/home" [ngClass]="{'active': headerService.currentMenu == 'home'}">Trang chủ</a></li>
        <li><a href="/product" [ngClass]="{'active': headerService.currentMenu == 'product'}">Sản Phẩm</a></li>
        <li><a href="/search" [ngClass]="{'active': headerService.currentMenu == 'search'}">Tra Cứu</a></li>
        <li><a href="/cart" [ngClass]="{'active': headerService.currentMenu == 'cart'}">Giỏ Hàng</a></li>
        <li><a href="/login" [ngClass]="{'active': headerService.currentMenu == 'login'}">Đăng Nhập</a></li>
    </ul>
</header>