<div class="progress-container">
    <ul class="progress-bar">
        <li><app-process-circle class="process-circle" processName="Giặt" [percentage]="100"></app-process-circle></li>
        <li><app-process-circle class="process-circle" processName="Sấy" [percentage]="100"></app-process-circle></li>
        <li><app-process-circle class="process-circle" processName="Phơi" [percentage]="100"></app-process-circle></li>
        <li><app-process-circle class="process-circle" processName="Ủi" [percentage]="80"></app-process-circle></li>
        <li><app-process-circle class="process-circle" processName="Đóng gói" [percentage]="5"></app-process-circle></li>
    </ul>
    <div class="line"></div>
</div>